$bgc-app: #1E2535;
$button-color: #83F6B1;
$border-color: #83F6B1;

$bgc-modal: linear-gradient(177.76deg, #2E354B 0%, #30374C 100%);
$modal-border-color: #323A52;
$bgc-modal-inner: #3C4561;
$border-color-inner: #91ACD4;
$border-color-inner-active: #83F6B1;
$btn-close: #30374C;

$btn-bgc: #83F6B1;
$btn-tx-c: #282A3B;
$trigger-tx-c: #272C44;

$text-color-1: #83F6B1;
$text-color-2: #eee;
$text-color-3: #91ACD4;
$rgba-text-color-3: rgba(145, 172, 212, 0.5);
