@import './styles/utils';

.App {
  background-color: $bgc-app;
  height: 100vh;

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 24px;
    background-color: $btn-bgc;
    border: none;
    border-radius: 50px;
    outline: none;

    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 100%;
    color: $btn-tx-c;
    cursor: pointer;

    @include hover(opacity, 0.9);

    &:active {
      transform: scale(0), opacity(0);
    }
  }
}
